#Floral {
    height: 600px;
    width: 50%;
    display: none;
}

#Rings {
    height: 600px;
    width: 50%;
    display: inline-block;
}

#Pink {
    height: 600px;
    width: 50%;
    display: none;
}

#float {
  margin:auto;
  padding-top: 200px;
  line-height: 50px;
}

#imageandtext {
  position: center;
}

img {
  z-index: -1;
  position: absolute;
  float: right;
  padding-right: 0px;
}

form {
  width:100%;
  text-align: left;
  padding-left: 30px
}

section {
  width: 50%;
}

label {
  display: block;
  text-align: left;
  padding-top: 20px;
}

body {
    background-color: lightblue;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 30px;
}

h1 { 
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 40px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}